.page_component {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
}

.error {
    display: flex;
    justify-content: center;
    color: red;
}

.info {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 60%;
}

.text {
    width: 80%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40%;
}

.img img {
    width: 95%;
}