.header {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
}

.title {
    height: 100%;
}

.title a {
    display: flex;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
}