.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header_wrapper {
  height: 10%;
  width: 100vw;
}

.page_wrapper {
  height: 90%;
  width: 100vw;
  background-color: antiquewhite;
}